
.aussi{
width: 606px;
height: 44px;
top: 117px;
left: 267px;
gap: 0px;
opacity: 0px;


font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 43.57px;
text-align: justified;
padding-left: 30%;
color: rgba(47, 53, 59, 1);
padding-top: 5%;
}

#fond{
    position: absolute;
    

}




.point{
    position: relative;
    padding-left: 95%;
    bottom: 400px;
    right: 0%;
    width: 280px;
}

#tout{
    position: relative;
    top: 0%;
    padding-top: 7%;
    padding-right: 7%;

}

.cercle{
position: relative;
width: 650px;
height: 650px;
top: 70px;
left: 245px;
gap: 0px;
border: 20px 0px 0px 0px;
opacity: 0px;
justify-content: center;
padding-left: 30%;
}


#site1{
background-color: rgba(255, 255, 255, 1);
display: flex;
width: 350px;
height: 278px;
left: 582px;
top: 356px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background:  rgba(232, 242, 250, 1);
}

#site2{
background-color: rgba(255, 255, 255, 1);
display: flex;
width: 350px;
height: 278px;
left: 582px;
top: 356px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background:  rgba(232, 242, 250, 1);
}

.site12{
    display: flex;
    position: relative;
    flex-direction: row;
    padding-left: 250px;
    padding-right:10%;
    justify-content: space-evenly;
    top: 0%;
    

}

#site3{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 350px;
    height: 278px;
    left: 582px;
    top: 356px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background:  rgba(232, 242, 250, 1);
}

#site4{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 350px;
    height: 278px;
    left: 582px;
    top: 356px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background:  rgba(232, 242, 250, 1);


}

.site34{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right:10%;
    padding-top:2%;
    justify-content: space-evenly;
    padding-top: 7%;
}

#consulting{
display: flex;
width: 50px;
height: 50px;
left: 605px;
top: 368px;


}
#factory{
display: flex;
width: 50px;
height: 50px;
left: 605px;
top: 368px;


}
#studio{
display: flex;
width: 50px;
height: 50px;
left: 605px;
top: 368px;


}
#campus{
display: flex;
width: 50px;
height: 50px;
left: 605px;
top: 368px;
}

.titreConsulting{
color: #119DD9; 
}
.titreFactory{
    color: #119DD9;
}
.titreStudio{
    color: #119DD9;
}
.titreCampus{
    color: #119DD9;
}