#onceUponATime{
    display : flex;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sourire{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-top: 10%;

}

.titre{
display: flex;
width: 343px;
height: 28px;
left: 540px;
top: 173px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #2F353B;


}