#phrase{
    display: flex;
    padding-left: 33%;
    height: 100px;
}

.nosRealisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 05%;

}

#textRealisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paragraphe{
    display: flex;
    padding-left: 10%;
    justify-content: center;
    padding-top: 5%;
    padding-right: 10%;
   


}

.imgRealisation{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    width: 700px;
}

