/* styles.css */

.App-header {
  background-color: #333; /* Noir */
}

.App-header h1 {
  color: #fff; /* Blanc */
}

.weather-section,
.form-section {
  background-color: rgba(0, 128, 0, 0.5); /* Vert avec 50% de transparence */
}

.weather-item {
  background-color: rgba(255, 255, 255, 0.1); /* Blanc avec 10% de transparence */
}

.temperature {
  background-color: rgba(255, 69, 0, 0.3); /* Rouge clair */
}

.main {
  background-color: rgba(255, 165, 0, 0.3); /* Orange clair */
}

.description {
  background-color: rgba(173, 216, 230, 0.3); /* Bleu clair */
}

.sunrise {
  background-color: rgba(255, 215, 0, 0.3); /* Jaune clair */
}

.sunset {
  background-color: rgba(255, 140, 0, 0.3); /* Orange foncé clair */
}

.form-header {
  background-color: #333; /* Noir */
}

.form-header h2 {
  color: #fff; /* Blanc */
}

button {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Blanc */
}

button:hover {
  background-color: #0056b3; /* Bleu plus foncé */
}

.cold {
  background-color: rgba(0, 0, 255, 0.5); /* Bleu - 50% de transparence */
}

.cool {
  background-color: rgba(0, 128, 255, 0.5); /* Bleu clair - 50% de transparence */
}

.warm {
  background-color: rgba(255, 165, 0, 0.5); /* Orange - 50% de transparence */
}

.hot {
  background-color: rgba(255, 69, 0, 0.3); /* Rouge - 30% de transparence */
}

.App-link {
  color: #61dafb; /* Bleu clair */
}
