body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 { text-align: center;
}
header {
  background-color: #1f8a8b;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 0;
}

nav ul ul li {
  display: block;
  margin-right: 0;
}

nav ul li:hover ul {
  display: block;
}

section {
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

section h2 {
  margin-top: 0;
}
